{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fluxxo Solutions | Gestão Financeira SaaS</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">{{ empresa.nome }}</div>
        <ul class="nav-links">
            <li><a href="#features">Funcionalidades</a></li>
            <li><a href="#reports">Relatórios</a></li>
            <li><a href="/login" class="btn-login">Acessar Sistema</a></li>
        </ul>
    </nav>

    <header class="hero">
        <div class="hero-content">
            <h1>Controle financeiro de alto nível para sua empresa.</h1>
            <p>Gerencie fluxo de caixa, emita relatórios inteligentes e tome decisões baseadas em dados com nossa plataforma SaaS.</p>
            <div class="hero-btns">
                <button class="btn-primary">Começar Agora</button>
            
            </div>
        </div>
        
        <div class="hero-dashboard">
            <div class="glass-card">
                <p>Saldo em Conta</p>
                <h3>R$ 45.230,00</h3>
                <div class="mini-chart"></div>
            </div>
        </div>
    </header>

    <script src="static/js/main.js"></script>
</body>
</html>